<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Oma salkkuni</h1>
    <p class="lead text-muted">Olen työurani jälkeen keskittynyt työstämään Ruby on Rails -sovelluksia. Käytän myös Javascript viitekehysympäristöjä, kuten Node, Angular, React/Redux, Vue/Vuex sekä Meteor. Näiden ympäristöjen yhteensovittaminen on lähellä sydäntä. Muita tiedonkäsittelyn alueita ovat operaatiotutkimuksen ja tilastotieteen sovellukset ohjelmistoympäristöinä Lingo (OR) sekä R (tilastotiede).</p>
    <p>
      <%= link_to 'Lisää kokemuksiani', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Blogini', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>