<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "Tarkastele kaikkia salkun osioita", portfolios_path %> /
      <a href="#">Takaisin alkuun</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>