<h1>Tietoa itsestäni</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profiilikuva" %>
  </div>

  <div class="col-md-8">
    <p>Kokemukseni perusteella voin todeta, että asiakkaan ja ohjelmistokehittäjän välinen yhteistyö on ensiarvoisen tärkeää ja välttämätöntä.</p>
  </div>

</div>


