<div class="inner cover">
  <h1 class="cover-heading">Tervetuloa</h1>
  <p class="lead">Ohjelmistokehityksen ei tulisi olla salainen prosessi. Kun otan tehtäväkseni uuden projektin, tavoitteeni ei ole ainoastaan tuottaa hyvin tehty projekti vaan myös varmistaa se, että prosessin kaikki vaiheet kommunikoidaan hyvin.</p>


  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>





